#!/usr/bin/env bash

if [[ "$(uname -s)" == "Linux" ]]; then
  if [[ -n "$WAYLAND_DISPLAY" ]]; then
    use flake .#devShells.x86_64-linux.wayland
  elif [[ -n "$DISPLAY" ]]; then
    use flake .#devShells.x86_64-linux.x11
  else
    echo "Unable to decide your display server.  Using default shell with Wayland support."
    use flake .#devShells.x86_64-linux.default
  fi
else
  echo "Only Linux is explicitly supported so far.  Run `nix flake show` to list  available shells."
fi
